
body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  .main {
    flex: 1;
  }

.logoimg{
    border-radius: 50%;
    width: 100px;
    float: left;
    margin: 20px;
}

.logotitle{
    color: brown;
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    }

h1{
    font-size: 5rem;
    line-height: 1.5;
    
}


span{
    color: mediumslateblue;
}

.imgcard{
    width: 200px;
    float: left;
    margin: 20px;
}

.imgcard-big{
    width: 200px;
    float: left;
    margin: 20px;
    

}

.left{
    float: left;
}

.right{
    float: right;
}

.card{
    width: 45%;
}

footer{
clear: both;
color: midnightblue;
text-align: right;
}


@media (max-width: 680px) {
    .logoimg {
      width: 200px;
      display: inline;
      margin-left: 12%;
      margin-top: -10%;
    }
    .logotitle{
        font-size: 2.5rem;
          text-align: center;
      }
  
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  
    .card {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      text-align: justify;
    }
    
  
    .card img {
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      object-fit: cover;
      margin: 0 auto;
      
    }
  }
  footer{
    clear: both;
    color: midnightblue;
    text-align: center;
    }
